body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    113.58deg,
    #aee1e1 5.24%,
    rgba(211, 224, 220, 0.76) 63.12%
  );
}
